html {
    padding: 0;
    margin: 0;
    /* background-color: #1992d4; */
}

#page-layout {
    display: grid;
    grid-template-columns:  fit-content(30%) 5fr;
    grid-template-rows: 1fr 5fr;
    border: 1px solid grey;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content"
}

#sidebar {
    background-color: #1992d4;
    color: white;
    grid-area: sidebar;
    padding: 0 35px;
    height: 100%;
}

#side-nav {
    margin-bottom: 25px;
}

.side-div {
    margin: 50px 0;
}

#sidebar-hero {
    margin-top: 25px;
}

.side-nav-item {
    /* margin-bottom: 25px; */
}

.icon {
    padding-right: 20px;
}

.hero-icon {
    padding-right: 5px; 
}


#header {
    grid-area: header;
    background-color: white;
}

#search-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.search-bar {
    background-color: #e2e8f0;
    border-style: none;
    border-radius: 20px;
    width: 500px;
    font-size: 17px;
}

#search-left {
    display: flex;
}

#search-right {
    display: flex;
}

.header-icon {
    font-size: 24px;
}

#bell-icon, #search-user-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

#search-icon {
    margin-right: 20px;
}

.search-icon {
    color: #313131;
    background-color: #313131;
}

#profile-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#profile-left div {
    margin: 20px 15px;
    font-size: 20px;
}

#profile-btns button {
    margin: 0 15px;
    background-color: #1992d4;
    color: white;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    padding: 10px 25px;
    width: 100px;
    
}

#profile-left {
    display: flex;
    align-items: center;
}

#main-content {
    background-color: #e2e8ef;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows 2fr 2fr;
    gap: 20px;
    padding: 50px 25px;
    grid-template-areas:
        "projects announcements"
        "projects trending"
}

.main-div {
    /* border: 1px solid; */
}

#projects {
    grid-area: projects;
    border-width: 2px;
    border-color: #313131;
}

#project-cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 0;
}

.project-card {
    /* border: 1px solid; */
    background-color: white;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 1px 1px 2px gray;

}

.project-icons {
    display: flex;
    justify-content: end;
}

.fav, .watch, .share {
    margin: 0 10px;
}

#announcements {
    grid-area: announcements;
}

.announcements, .trending {
    background-color: white;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px grey;
}

.announcement-card {
    /* background-color: white; */
}

#trending {
    grid-area: trending;
}

.trend {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
